/*imp! CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*imp! BODY CSS */

body {
  background: #000235;
  font-family: "Helvetica", "Arial";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

/*imp! 'A' TAG CSS */

a {
  background: #000235;
  color: #222;
  border-radius: 100%;
  display: inline-block;
  text-decoration: none;
  position: relative;
  margin: 0 12px;
  padding: 15px 18px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.169);
}

a.icon::before {
  font-family: "FontAwesome", sans-serif;
  color: #fff;
  font-size: 20px;
}

a.facebook::before {
  content: "\f09a";
}

a.youtube::before {
  content: "\f16a";
}

a.github::before {
  content: "\f113";
}

a.dribble::before {
  content: "\f17d";
}

a.pinterest::before {
  content: "\f0d2";
}

a span {
  background: #fff;
  color: #222;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: -20px;
  right: -25px;
  padding: 5px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

a span::before {
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

a:hover span {
  bottom: 50px;
  visibility: visible;
  opacity: 1;
}

a.facebook:hover {
  background-color: #4183d7;
  color: #bfbfbf;
}

a.facebook span {
  color: #4183d7;
}

a.youtube:hover {
  background-color: #ff0000;
  color: #fff;
}

a.youtube span {
  color: #ff0000;
}

a.github:hover {
  background-color: #000;
  color: #fff;
}

a.github span {
  color: #000;
}

a.dribble:hover {
  background-color: #f62459;
  color: #fff;
}

a.dribble span {
  color: #f62459;
}

a.pinterest:hover {
  background-color: #f22613;
  color: #fff;
}

a.pinterest span {
  color: #f22613;
}